# comments :
 comments are used to give the description to my code in order to enhance the readibilty of the code
 
- it also helps in debugging



### there are two type of comments:

- single line comment
- multi line comment

single line comment: using #

In [16]:
x

90

In [4]:
# this is  my first code
print("heloz") # print is inbuilt function which is used to display something

heloz

# multi line comment:

In [7]:
'''this is my first code
where i am learning comments'''
print("helozzzzzzz")

'this is my first code\nwhere i am learning comments'

# variables: variables are the containers which is used to hold the data

In [19]:
x=90 # x is the variable where 90 is assigning to it

# fetch the value of variable or  how to access the variable

In [11]:
x

90

In [17]:
x=50

In [18]:
x

50

# identifiers : these are the naming rules to define the variable

- rule 1: must begin with alphabets or only one special character is allowed i.e _
- rule 2: we can have any alphabets or digits or one special charcacter is allowed i.e _ any where followed by begining rule
- rule 3: it could be of any length
- rule 4: it is case senistive
- rule 5: it should not be keywords

rule 1: must begin with alphabets or only one special character is allowed i.e _

In [21]:
balmeet=900

In [22]:
balmeet

900

In [23]:
_balmeet=120

In [24]:
_balmeet

120

In [25]:
12balmeet=90

SyntaxError: invalid syntax (4200827163.py, line 1)

rule 2: we can have any alphabets or digits or one special charcacter is allowed i.e _ any where followed by begining rule

In [27]:
balmeetkaur123=80

In [28]:
balmeetkaur123

80

In [31]:
balmeet kaur=90

SyntaxError: invalid syntax (2487007307.py, line 1)

rule 3: it could be of any length

In [34]:
skhsahhjdhjdahjdahdkahjhdahsjadkhjahjdhasdhahdahdk=90

In [35]:
skhsahhjdhjdahjdahdkahjhdahsjadkhjahjdhasdhahdahdk

90

# rule 4: it is case sensitive

In [36]:
balmeet=80

In [37]:
Balmeet=100

rule 5: it should not be keywords

keywords : are the reserved words which has special meaning in the python

In [38]:
pass=60

SyntaxError: invalid syntax (411070678.py, line 1)

In [39]:
import keyword

In [40]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [41]:
if=90

SyntaxError: invalid syntax (1270679290.py, line 1)

In [42]:
If=90

# data types : defines the type of data

- numeric
   - int
   - float
   - complex
- sequence
  - string
  - list
  - tuple
- dictionary
- set
- bool

In [43]:
# int : integer value : without decimal number

In [44]:
a=90
print(a)
print(type(a)) # type is inbuilt function which tells the type

90
<class 'int'>

In [45]:
a=-80
print(a)
print(type(a))

-80
<class 'int'>

In [46]:
# float : means number with decimal

In [47]:
h=90.8
print(h)
print(type(h))

90.8
<class 'float'>

In [48]:
# complex:

In [49]:
a=8+9j
print(a)
print(type(a))

(8+9j)
<class 'complex'>

In [50]:
# sequence:

# string: textual data 

note : any thing which come sunder quotes that makes the string

# how to create the string
- using single quotes
- using double quotes
- using three triple

In [51]:
a='madrid edtech company'
print(a)
print(type(a))

madrid edtech company
<class 'str'>

In [52]:
b='123'
print(b)
print(type(b))

123
<class 'str'>

In [53]:
c=123
print(type(c))

<class 'int'>

using double quotes

In [55]:
s='madrid solutions'
print(s)
print(type(s))

madrid solutions
<class 'str'>

In [57]:
s1="hi how'r u"
print(s1)

hi how'r u

# uisng ''''''

In [59]:
s='''sjkhskhdsa
sshjshgjhadsds
shshghjdsa
sjhsahjhjsa
sAHSHKHDS
Sasasjajdj'''
print(s)
print(type(s))

sjkhskhdsa
sshjshgjhadsds
shshghjdsa
sjhsahjhjsa
sAHSHKHDS
Sasasjajdj
<class 'str'>

# list : it is the collection of multiple data

In [60]:
employee=["123","balmeet","trainer",60.5] # hetrogenous
print(employee)
print(type(employee))

['123', 'balmeet', 'trainer', 60.5]
<class 'list'>

In [63]:
salary=[45000,90000,50000] # homogenous
print(salary)
print(type(salary))

[45000, 90000, 50000]
<class 'list'>

In [ ]:
# tuple : is same as list

In [64]:
employee=("123","balmeet","trainer",60.5)
print(employee)
print(type(employee))

('123', 'balmeet', 'trainer', 60.5)
<class 'tuple'>

# dict and set : skip

# bool: True or False

In [65]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [66]:
a=False
print(a)
print(type(a))

False
<class 'bool'>

In [67]:
a=false
print(a)
print(type(a))

NameError: name 'false' is not defined

# type casting:
conversion of one type to another

# float to int

In [70]:
a=90.7
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

90.7
<class 'float'>
90
<class 'int'>

# int to float

In [71]:
a=900
print(a)
print(type(a))
a1=float(a)
print(a1)
print(type(a1))

900
<class 'int'>
900.0
<class 'float'>

# int to str

In [73]:
a=90
print(a)
print(type(a))
a1=str(a)
print(a1)
print(type(a1))

90
<class 'int'>
90
<class 'str'>

In [74]:
# str to int

In [75]:
a="hello"
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

hello
<class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

In [76]:
a="1234"
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

1234
<class 'str'>
1234
<class 'int'>

In [77]:
# str to float

In [78]:
a="hello"
print(a)
print(type(a))
a1=float(a)
print(a1)
print(type(a1))

hello
<class 'str'>

ValueError: could not convert string to float: 'hello'

In [79]:
a="123.67"
print(a)
print(type(a))
a1=float(a)
print(a1)
print(type(a1))

123.67
<class 'str'>
123.67
<class 'float'>

In [80]:
# str to int

In [83]:
a="123.67" # it require double conversion
print(a)
print(type(a))
a1=float(a)
a2=int(a1)
print(a2)
print(type(a2))

123.67
<class 'str'>
123
<class 'int'>

In [84]:
# int to bool

# if any positive integer or negative integer so it treats as true otherwise it considersas false

In [87]:
a=0
print(a)
print(type(a))
a1=bool(a)
print(a1)
print(type(a1))

0
<class 'int'>
False
<class 'bool'>

bool to int

In [ ]:
# bool to int

In [88]:
a=True
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

True
<class 'bool'>
1
<class 'int'>

In [89]:
a=False
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

False
<class 'bool'>
0
<class 'int'>

In [90]:
# list to tuple

In [91]:
a=[12,13,45,67,89]
print(a)
print(type(a))
a1=tuple(a)
print(a1)
print(type(a1))

[12, 13, 45, 67, 89]
<class 'list'>
(12, 13, 45, 67, 89)
<class 'tuple'>

In [92]:
a=(12,13,45,67,89)
print(a)
print(type(a))
a1=list(a)
print(a1)
print(type(a1))

(12, 13, 45, 67, 89)
<class 'tuple'>
[12, 13, 45, 67, 89]
<class 'list'>

In [93]:
# str to list

In [94]:
a="madrid solutions"

print(a)
print(type(a))
a1=list(a)
print(a1)
print(type(a1))

madrid solutions
<class 'str'>
['m', 'a', 'd', 'r', 'i', 'd', ' ', 's', 'o', 'l', 'u', 't', 'i', 'o', 'n', 's']
<class 'list'>

In [95]:
# list to str

In [97]:
a=[12,13,45,67,89]
print(a)
print(type(a))
a1=str(a)
#print(a1)
print(type(a1))
a1

[12, 13, 45, 67, 89]
<class 'list'>
<class 'str'>

'[12, 13, 45, 67, 89]'

# print()